name: Cupcycle CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  S3_BUCKET_NAME: cupcycle

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Gradle Caching
      uses: actions/cache@v3
      with:
        path: |  
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - uses: actions/checkout@v3
    
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        arguments: build
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew 
      
    - name: Create application.properties file from Secrets
      run: |
        echo "${{ secrets.APPLICATION_PROPERTIES }}" > ./src/main/resources/application.properties
    
    - name: Build with Gradle
      run: ./gradlew clean build

    # 디렉토리 생성
    - name: Make Directory
      run: mkdir -p deploy
        
    # Jar 파일 복사
    - name: Copy Jar
      run: cp ./build/libs/*.jar ./deploy  # Jar 파일 위치를 확인하여 수정

    - name: Make zip file
      run: zip -r ./cupcycle.zip ./deploy  # zip 파일명은 필요에 따라 수정 가능
      shell: bash

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2

    - name: Upload to S3
      run: aws s3 cp --region ap-northeast-2 ./cupcycle.zip s3://cupcycle/
      
    # appspec.yml 파일 복사
    - name: Copy appspec.yml
      run: cp ./appspec.yml ./deploy

    # script files 복사
    - name: Copy script
      run: cp ./scripts/*.sh ./deploy

    - name: Make zip file
      run: zip -r ./cupcycle.zip ./deploy
      shell: bash

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2

    - name: Upload to S3
      run: aws s3 cp --region ap-northeast-2 ./cupcycle.zip s3://cupcycle/
# Deploy
    - name: Deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        aws --debug deploy create-deployment \
        --application-name cupcycle \  #만든 애플리케이션 이름
        --deployment-group-name cupcycle-group \  # 만든 애플리케이션 그룹 이름
        --file-exists-behavior OVERWRITE \
        --s3-location bucket=cupcycle,bundleType=zip,key=cupcycle.zip \
        --region ap-northeast-2
